@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #ff0022;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00; /* Color al pasar el mouse */
}

main {
    padding: 30px;
}

h2 {
    color: #ff000d;
    font-size: 2em;
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

footer {
    background: #466379;
    color: #f0e6e6;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact-info {
    margin-bottom: 10px;
}

/* Estilos para imágenes responsivas */
.responsive {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilos para iconos de redes sociales */
.social-icons {
    margin: 10px 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}